{{#paper-card class="layout layout-align-center-center flex-100" as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
       {{#text.headline}}{{model.name}}{{/text.headline}}
    {{/title.text}}
  {{/card.title}}
{{/paper-card}}

{{#if session.currentUser}}
    <div class="channel-card channel-card--history layout-row layout-xs-column layout-gt-xs-align-center-center flex">
      {{#if (contains session.currentUser.id (map-by "id" model.users))}}
      {{!-- If the logged in user is the channels userlist --}}
        {{sc-channel-story
          class="flex-xs-100 flex-gt-xs-70 flex-gt-md860"
          story=model.currentStory
          users=model.users.length
          onVote=(route-action "vote")
          onCloseVoting=(route-action "closeCurrentStory")
          onResetStory=(route-action "resetCurrentStory")
          userVote=userVote}}
      {{else}}

        {{!-- Logged in user not in channel list --}}
        {{#paper-card class="flex-xs-100 flex-gt-xs-70 flex-gt-md-80" as |card|}}
          {{#card.content}}
            {{#paper-button
              raised=true
              primary=true
              onClick=(route-action "joinChannel")}}
              Join as <strong>{{session.currentUser.name}}</strong>
            {{/paper-button}}
          {{/card.content}}

        {{/paper-card}}
      {{/if}}
      {{sc-channel-users
        class="flex-xs-100 flex-gt-xs-30 flex-gt-md-20"
        users=model.users
        onLeaveChannel=(route-action "leaveChannel")}}
    </div>
{{else}}
  {{!-- When the user isn't logged in --}}
  <div class="layout layout-align-center-center">
    {{#paper-card class="flex-xs-100 flex-gt-xs-70 flex-gt-md-80" as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
           {{#text.headline}}Join this board{{/text.headline}}
        {{/title.text}}
      {{/card.title}}

      {{#card.content}}
        {{paper-input class="inline-with-button-input" flex=60 label="Name" value=name onChange=(action (mut name))}}
        {{#paper-button
          raised=true
          primary=true
          onClick=(route-action "createUser" (mut name))}}
          Join
        {{/paper-button}}
      {{/card.content}}
    {{/paper-card}}
  </div>
{{/if}}
