{{#if session.currentUser}}

    <div class="channel-card channel-card--history layout-row layout-xs-column layout-gt-xs-align-center-center flex" style="padding-top:10px;">
      {{#if (contains session.currentUser.id (map-by "id" model.users))}}
      {{!-- If the logged in user is the channels userlist --}}
        {{sc-channel-stories
          class="flex-xs-100 flex-gt-xs-30 flex-gt-md-20"
          onAddStory=(route-action "addStory") }}
        {{sc-channel-story
          class="flex-xs-100 flex-gt-xs-40 flex-gt-md-60"
          story=model.currentStory}}
      {{else}}

        {{!-- Logged in user not in channel list --}}

        {{#paper-card class="flex-xs-100 flex-gt-xs-70 flex-gt-md-80" as |card|}}
          {{#card.title as |title|}}
            {{#title.text as |text|}}
               {{#text.headline}}Join this board{{/text.headline}}
            {{/title.text}}
          {{/card.title}}

          {{#card.content}}
            {{paper-input class="inline-with-button-input" flex=40 label="Name" value=name onChange=(action (mut name))}}
            {{#paper-button
              raised=true
              primary=true
              onClick=(route-action "createUser" (mut name))}}
              Join
            {{/paper-button}}
          {{/card.content}}

        {{/paper-card}}
      {{/if}}
      {{sc-channel-users
        class="flex-xs-100 flex-gt-xs-30 flex-gt-md-20"
        users=model.users
        onLeaveChannel=(route-action "leaveChannel")}}
    </div>
{{else}}
  {{!-- When the user isn't logged in --}}
  <div class="layout layout-align-center-center">
    {{#paper-card class="flex-xs-100 flex-gt-xs-70 flex-gt-md-80" as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
           {{#text.headline}}Join this board{{/text.headline}}
        {{/title.text}}
      {{/card.title}}

      {{#card.content}}
        {{paper-input class="inline-with-button-input" flex=60 label="Name" value=name onChange=(action (mut name))}}
        {{#paper-button
          raised=true
          primary=true
          onClick=(route-action "createUser" (mut name))}}
          Join
        {{/paper-button}}
      {{/card.content}}
    {{/paper-card}}
  </div>
{{/if}}


{{!-- <h1>{{model.name}}</h1>

{{#if session.currentUser}}

  <h2>Hello {{session.currentUser.name}}</h2> <button {{action (route-action 'logout')}}>Log out</button>
  <hr>
  <h2>Users</h2>
  {{#each model.users as |users|}}
    {{users.name}} <br>
  {{/each}}
{{else}}
  <label for="">Your name:</label>
  {{input type="text" value=name}}
  <button {{action (route-action "createUser" (mut name))}}>Join</button>

{{/if}}

{{outlet}} --}}
